@page "/alarmclock"
@rendermode InteractiveServer
@implements IDisposable

<PageTitle>Clock</PageTitle>

<h1>@clock.Time.ToLongTimeString()</h1>


@code {
    public Models.AlarmClock clock = new Models.AlarmClock();

    private Timer timer;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        timer = new System.Threading.Timer(async _ =>
        {
            await InvokeAsync(StateHasChanged);
        }, null, 0, 1000);
    }

    public void Dispose()
    {
        timer?.Dispose();
    }

}
